#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

# Shortcut to create a public key
function set_ssh_authkey() {
	pubkey | ssh "$@" 'cat >> .ssh/authorized_keys'
}

# Shortcut to search history
function search_history() {
	history | grep "$@"
}

# Install python package globally when using pyenv
function gpip() {
    PIP_REQUIRE_VIRTUALENV="" pip "$@"
}

function cleanup() {
	find . -type f -name "$@" -ls -delete
}

function assume-role() {
	OUT=$(aws sts assume-role --role-arn $1 --role-session-name $2);\
	export AWS_ACCESS_KEY_ID=$(echo $OUT | jq -r '.Credentials''.AccessKeyId');\
	export AWS_SECRET_ACCESS_KEY=$(echo $OUT | jq -r '.Credentials''.SecretAccessKey');\
	export AWS_SESSION_TOKEN=$(echo $OUT | jq -r '.Credentials''.SessionToken');
}
